.user{
    margin: 0.4% 10%;
}

.user-text{
display: flex;
flex-direction: column;
}

.user-text h1{
    font-family: impact !important;
    font-size: 3.8rem;
    font-weight: 400;
}

.user-text h3{
    font-size: 1.5rem;
    font-weight: 600;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

form input{
    padding: 1rem 1rem;
    font-size: 1em;
    width: 85%;
    border-radius: 30px;
    border: 1px solid red;
    background: #fff;
    outline: none;
}

.user-text form button{
    background: red;
    padding: 1rem 2.3rem;
    font-size: 1.3em;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}

.other-feedback{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.other-feedback h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.feedbacks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}

.feedbacks::-webkit-scrollbar{
    display: hidden;
}

.other-feedback .feedback{
    display: flex;
    gap: 30px;
}

.feedback .username-text{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    color: #fff;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}

.feedback .feedback-text{
    width: 95%;
    height: 70px;
    background: #fff;
    border: 1px solid red;
    padding: 10px;
}