@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, Impact;
}

.loading{
  padding: 1rem;
  font-size: 25px;
  background: red;
  color: #fff;
  margin: 20% auto;
  border: 2px solid #fff;
  width: 150px;
}