.register{
    margin: 8% 32%;
}

.register form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.register form input{
    padding: 20px 15px;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #141414;
    border: 1px solid #ff1000;
    width: 500px;

}

.register form button{
    background: #CFD4F5;
    padding: 1rem 3rem;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #ff0000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.register form button:hover{
    transform: scale(1.09);
}

.mid-info{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-left: -600px;
    margin-right: -600px;
}

.mid-info h3{
    cursor: pointer;
}

.mid-info h3 span{
    color: #00ff00;
}