.admincategory{
    margin: 4% 12%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: baseline;
}

/* card styles */

.card{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
}

.card:hover{
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.459);

}

.card h2{
    font-size: 4em;
    font-family: Impact !important;
}

.card p{
    font-weight: 600;
    font-size: 1.2em;
}
