.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1% 25%;
}

.contact h1{
    margin-bottom: 10px;
}

.contact p{
    margin-bottom: 30px;
}

.contact form{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 30px;
    align-items: center;
}

.contact form textarea{
    width: 500px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ff0000;
    outline: none;
}

.contact form button{
    background: #CFD4F5;
    padding: 1rem 3rem;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #ff0000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact form button:hover{
    transform: scale(1.09);
}