.adminlogin{
    margin: 3% 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminlogin h1{
margin-bottom: 50px;    
}

.adminlogin form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.adminlogin form input{
    padding: 20px 15px;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #141414;
    border: 1px solid #ff1000;
    width: 500px;

}

.adminlogin form button{
    background: #CFD4F5;
    padding: 1rem 3rem;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #ff0000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.adminlogin form button:hover{
    transform: scale(1.09);
}

.bottom-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    gap: 250px;
}


.bottom-info h3 span{
    color: #00ff00;
    cursor: pointer;
}



